// Colores
$negro: #1f2933;
$blanco: #fff;

$grisClaro: #f5f6f7;
$gris: #e1e5ea;
$grisOscuro: #b1b1b1;

$azulClaro: #e7f0ff;
$azul: #3483fa;
$azulOscuro: #1f5ec2;
$azulOscuroM: #1a4690;

$verde: #00a650;
$verdeOscuro: #00893f;

$naranja: #ff9900;
$naranjaOsc: #cc7a00;

$rojo: #c62828;
$rojoOsc: #8e1f1f;

$amarillo: #ffd814;
$amarilloOsc: #aa9010;
